<%- partial('_partial/sidebar-toc', {post: page, index: false}) %>
<main class="main" role="main">
  <%- partial('_partial/article', {post: page, index: false}) %>

  	<script>
	  <!-- 百度站长自动推送链接 -->
		<!-- 注释掉失效的百度站长JS推送
		(function(){
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		}
		else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
		})();
		-->
	</script>
</main>
